{% extends 'base.html.twig' %}

{% block body %}
    <div style="min-width:400px;">&nbsp;</div>
	<div class="downloadpost" style="font-size:24px;">Cambiar Datos</div>	

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Guardar cambios" class="{{ button_css|default("btn btn-primary") }}" />
    {{ form_end(edit_form) }}
	<div>&nbsp;</div>
	<div>
		<a href="{{ path('proveedor_inicio') }}" class="{{ button_css|default("btn btn-primary") }}">Cancelar</a>		
	</div>
	<div>&nbsp;</div>	
    
{% endblock %}
